DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
DB_HOST=db
DB_PORT=5432


DOCKER_USERNAME=DOCKER_USERNAME
DOCKER_PASSWORD=DOCKER_PASSWORD

USER=SERVER_USERNAME
SSH_KEY=SSH_KEY
SSH_PORT=22


