DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
DB_HOST=db
DB_PORT=5432

SECRET_KEY='42+5=12ql#3057h%i@df_7u(_q03=uf5e)m#!4rxwci$8#4e4t'
DEBUG=False

DOCKER_USERNAME=DOCKER_USERNAME
DOCKER_PASSWORD=DOCKER_PASSWORD

USER=SERVER_USERNAME
SSH_KEY=SSH_KEY
SSH_PORT=22


