[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
path = "*"
django = "*"
pytest = "*"
coverage = "*"
pillow = "*"
factory-boy = "*"
django-debug-toolbar = "*"
djangorestframework = "*"

[requires]
python_version = "3.8"
