{% load static %}
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                    <li class="list-inline-item">
                        <a href="https://github.com/Macjus-ML">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                        </a>
                    </li>
                        <a href="/about-author/"> Об авторе</a> -
                        <a href="/about-spec/">Технологии</a> -
                        <a href="/about-us/">О нас</a> -
                        <a href="/contacts/">Контакты</a> -
                        <a href="/terms/">Правила</a>
                    </li>
                </ul>
                <p class="m-0 text-dark text-center ">Социальная сеть <span style="color:red">Ya</span>tube © {{ year }},
                    все права защищены.</p>
            </div>
        </div>
    </div>
</footer>
