{% load static %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/noutbuk-na-stole.jpg')">
    <div class="overlay bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1><span style="color:red">Ya</span>tube</h1>
                    <span class="subheading">Social<span style="color:red"> network</span></span>

                </div>
            </div>
        </div>
    </div>
</header>
