<header class="header">
    {% load static user_filters recipes_util %}
    <nav class="nav">
        <div class="nav__container container">
            {% if user.is_authenticated %}
                <ul class="nav__items list">
                    <li class="nav__item {% if index %} nav__item_active {% endif %}"><a
                            href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                    <li class="nav__item {% if subscriptions %} nav__item_active {% endif %}"><a
                            href="{% url 'subscriptions' %}" class="nav__link link">Мои подписки</a></li>
                    <li class="nav__item {% if new_recipe %} nav__item_active {% endif %}"><a
                            href="{% url 'new_recipe' %}" class="nav__link link">Создать рецепт</a></li>
                    <li class="nav__item {% if favorites %} nav__item_active {% endif %}"><a
                            href="{% url 'favorites' %}" class="nav__link link">Избранное</a></li>

                    <li class="nav__item
                    {% if user|shopping_count:user.id > 0 %}
                    nav__item_active disabled
                    {% endif %}
                    {% if purchaselist %} nav__item_active {% endif %}"><a
                                href="{% url 'purchaselist' %}" class="nav__link link">Список покупок</a><span
                                class="badge badge_style_blue nav__badge"
                                id="counter">{%  if user|shopping_count:user.id %} {{ user|shopping_count:user.id }} {% endif %}</span></li>
                </ul>
                <ul class="nav__items list">
                    <li class="nav__item {% if pass_change %} nav__item_active {% endif %}"><a
                            href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                    <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
                </ul>
            {% endif %}
            {% if not user.is_authenticated %}

                <ul class="nav__items list">
                    <li class="nav__item {% if index %} nav__item_active {% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                </ul>
                <ul class="nav__items list">
                    <li class="nav__item {% if login %} nav__item_active {% endif %}"><a href="{% url "login" %}" class="nav__link link">Войти</a></li>
                    <li class="nav__item {% if signup %} nav__item_active {% endif %}"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>