{% extends "base.html" %}
{% block title %}
    Foodgram-Пароль успешно изменен
{% endblock %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock %}
{% load user_filters %}
{% block content %}
    <main class="main container">
        <div class="custom-center-block">
            <div class="main__header">
                <h3 class="main__title">Ваш пароль успешно изменен!</h3>
            </div>
        </div>
    </main>
{% endblock %}




