{% extends "base.html" %}
{% block title %}Foodgram-Пароль успешно сброшен{% endblock %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock %}
{% load user_filters %}
{% block content %}
    <main class="main container">
        <div class="custom-center-block">
            <div class="main__header">
                <h3 class="main__title">Сброс пароля прошёл успешно</h3>
            </div>
            <div class="custom-button-block">
                <button class="button button_style_blue">Перейти на главную</button>
            </div>
        </div>
    </main>
{% endblock %}





