{% extends 'base.html' %}
{% block title %}Изменить пароль{% endblock %}
{% block content %}
    {% load static %}
    {% load user_filters %}
    {% include 'includes/nav.html' with pass_change=True %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Изменить пароль</h1>
        </div>
        <div class="form-container">
            <form class="form" method="post" action="{% url 'password_change' %}">
                {% csrf_token %}
                <div class="form__group">
                    <label for="{{ form.old_password.id_for_label }}" class="form__label">Старый пароль</label>
                    <div class="form__field-group">
                        {{ form.old_password|addclass:"form__input" }}
                        {% if form.errors %}
                            <span class="form__error">{{ form.errors.old_password }}</span>
                        {% endif %}
                        <span class="form__error"></span>
                    </div>
                </div>
                <div class="form__group">
                    <label for="{{ form.new_password1.id_for_label }}" class="form__label">Новый пароль</label>
                    <div class="form__field-group">
                        {{ form.new_password1|addclass:"form__input" }}
                        {% if form.new_password1.help_text %}
                            <span class="form__input-info">{{ form.new_password1.help_text }}</span>
                        {% endif %}
                        {% if form.errors %}
                            <span class="form__error">{{ form.errors.new_password1 }}</span>
                        {% endif %}
                        <span class="form__error"></span>
                    </div>
                </div>
                <div class="form__group">
                    <label for="{{ form.new_password2.id_for_label }}" class="form__label">Подтверждение пароля</label>
                    <div class="form__field-group">
                        {{ form.new_password2|addclass:"form__input" }}
                        {% if form.new_password2.help_text %}
                            <span class="form__input-info">{{ form.new_password2.help_text }}</span>
                        {% endif %}
                        {% if form.errors %}
                            <span class="form__error">{{ form.errors.new_password2 }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form__footer">
                    <button class="button button_style_blue">Изменить пароль</button>
                </div>
            </form>
        </div>
        {% include 'includes/footer.html' %}
    </main>
{% endblock %}