{% extends 'base.html' %}
{% load user_filters %}
{% load static %}

{% block title %}
    Сброс пароля прошёл успешно
{% endblock %}


{% block content %}
    {% include 'includes/nav.html' %}
    {% block stylesheet %}
        {% load static %}
        <link rel="stylesheet" href="{% static "/pages/form.css" %}">
    {% endblock stylesheet %}

    <div class="main__header">
        <h1 class="main__title">Сброс пароля прошёл успешно</h1>
    </div>

    <div class="form-container">
        <p class="form__info-text">
            Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес).
            Вы должны получить ее в ближайшее время.
            <br><br>
            Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.
        </p>

    </div>
{% include 'includes/footer.html' %}

{% endblock %}