{% extends "base.html" %}
{% load static %}

{% block title %}Foodgram- Изменение пароля{% endblock %}
{% load user_filters %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "/pages/form.css" %}">
{% endblock stylesheet %}

{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Изменить пароль</h1>
        </div>
        <div class="form-container">
            <form class="form" method="post" action="{% url 'password_change' %}">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form__group">
                        <label for="{{ field.id_for_label }}" class="form__label">{{ field.label}}</label>
                        <div class="form__field-group">
                            {{ field|addclass:'form__input' }}

                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <span class="form__error">{{ error|escape }}</span>
                                {% endfor %}
                            {% endif %}

                            {% if field.label == "New password" %}
                                <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</span>
                                <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                                <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</span>
                                <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <div class="form__footer">
                    <button class="button button_style_blue">Изменить пароль</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content%}