{% extends 'base.html' %}
{% block title %}Пароль успешно сброшен{% endblock %}

{% block content %}
    {% load static %}
    {% include 'nav.html' %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Пароль <br>успешно  <br>сброшен</h1>
                <p class="form__info-text">
                    Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес).
                    <br><br>
                    Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались и проверьте папку со спамом.
                </p>

        </div>
    </main>
{% endblock %}