{% extends "base.html" %}
{% load static %}

{% block title %}Foodgram-Сброс пароля{% endblock %}
{% load user_filters %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "/pages/form.css" %}">
{% endblock stylesheet %}

{% block content %}

    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Сброс пароля</h1>
        </div>
        <div class="form-container">
            <form class="form">
                <p class="form__info-text">
                    Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
                </p>
                <br>
                {% csrf_token %}
                {% for field in form %}

                    <div class="form__group">
                        <label for={{ field.id_for_label }} class="form__label">{{ field.label }}</label>
                        <div class="form__field-group">
                            {{ field|addclass:"form__input" }}

                            {% if field.errors %}
                                <span class="form__error">{{ field.errors.as_text|escape }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <div class="form__footer">
                    <button class="button button_style_blue">Сбросить пароль</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}