{% extends 'base.html' %}
{% load user_filters %}
{% load static %}
{% include 'nav.html' %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% block title %}
    Сброс пароля завершен
{% endblock %}
{% block content %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/pages/form.css' %}">
{% endblock %}

    <h1>Сброс пароля успешно завершен</h1>
    <p>Новый пароль был установлен. Вы можете войти в систему <a href="{% url 'login' %}">на странице авторизации</a>.</p>
{% endblock %}