{% extends 'base.html' %}
{% block title %}Избранное{% endblock %}
{% block content %}
    {% load static user_filters recipes_util %}
    {% csrf_token %}
    {% include 'includes/nav.html' with favorites=True %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
    <div class="main__header">
        <h1 class="main__title">Избранное</h1>
        {% include 'includes/tags_filter.html' %}
    </div>
    <div class="card-list">
        {% for recipe in object_list %}
            <div class="card" data-id={{ recipe.id }}>
                <a href="{% url 'recipe' recipe.pk %}" class="link" target="_self"><img src="{{ recipe.image.url }}" alt="Какой-то текст" class="card__image"></a>
                <div class="card__body">
                    <a class="card__title link" href="{% url 'recipe' recipe.pk %}" target="_self">{{ recipe.name }}</a>
                    <ul class="card__items">
                        {% include 'includes/tags.html' %}
                    </ul>
                    <div class="card__items card__items_column">
                        <p class="card__text"><span class="icon-time"></span>{{ recipe.cook_time }} мин.</p>
                        <p class="card__text"><span class="icon-user"></span> <a
                                href="{% url 'author' recipe.author.id %}" style="color: black">{{ recipe.author.get_full_name }}</a></p>
                    </div>
                </div>
                <div class="card__footer">
                    <button class="button button_style_light-blue" name="purchases" data-out><span
                            class="icon-plus button__icon"></span>Добавить в покупки</button>
                    {% if recipe|is_favorite:user %}
                        <button class="button button_style_none" name="favorites" onclick="location.reload()"><span
                                class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
                        <div class="single-card__favorite-tooltip tooltip"></div>
                    {% else %}
                        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big"></span></button>
                        <div class="single-card__favorite-tooltip tooltip"></div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'includes/paginator.html' %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'favorite.js' %}"></script>
{% endblock %}