{% extends "base.html" %}
{% block title %}Ваши подписки{% endblock %}
{% block content %}

    <h1> Посты избранных авторов </h1>
    <div class="card-body">
        {% include "includes/menu.html" with follow=True %}
        <div class="container">
            {% for post in page %}
                {% include "includes/post_item.html" with post=post %}
            {% endfor %}
        </div>

        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator %}
        {% endif %}
    </div>

{% endblock %}