{% extends 'base.html' %}
{% block title %}Создание рецепта{% endblock %}
{% block content %}
    {% load static recipes_util %}
    {% include 'includes/nav.html' with recipeform=True %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
    <div class="main__header">
        <h1 class="main__title">Создание рецепта</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group">
                <label for={{ form.name.id_for_label }} class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    <input type="text" id="id_name" name="{{ form.name.name }}" class="form__input"
                            {% if is_edit %} value="{{ form.name.value }}"{% endif %}>
                    {% if form.errors %}
                        <span class="form__error">{{ form.name.errors }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag_choice, tag_value in form.tag.field.choices %}
                            <div class="tags__item">
                                <input type="checkbox" name="tag" value="{{ tag_choice.instance.pk }}" id="id_{{ tag_choice.instance.slug }}" class="tags__checkbox tags__checkbox_style_{{ tag_choice.instance.checkbox_style }}">
                                <label for="id_{{ tag_choice.instance.slug }}" class="tags__label">{{ tag_choice.instance.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    {% if form.errors %}
                        <span class="form__error">{{ form.tag.errors }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_time" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="id_time" name="{{ form.cook_time.name }}" class="form__input"
                            {% if form.name.value %} value="{{ form.cook_time.value }}" {% endif %}>
                    <label for="id_time" class="form__label">минут</label>
                    {% if form.errors %}
                        <span class="form__error">{{ form.cook_time.errors }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <label for="id_description" class="form__label">Описание</label>
                <div class="form__field-group">
                    <textarea name="{{ form.description.name }}" id="id_description" rows="8" class="form__textarea"
                    >{% if is_edit %} {{ form.description.value }} {% endif %}</textarea>
                    {% if form.errors %}
                        <span class="form__error">{{ form.description.errors }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <label for="id_file" class="form__file-button">Выбрать файл</label>
                    <input type="file" class="form__file" name="image"
                           id="id_file" {% if is_edit %} value="{{ recipe.image }}"{% endif %}>
                    {% if form.errors %}
                        <span class="form__error">{{ form.image.errors }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__footer">
                {% if is_edit %}
                    <button class="button button_style_blue">Изменить рецепт</button>
                    <a style="margin-left: 2.5em" href="{% url 'delete_recipe' recipe.id %}" class="form__ingredient-link">Удалить</a>
                {% else %}
                    <button class="button button_style_blue">Создать рецепт</button>
                {% endif %}
            </div>
        </form>
    </div>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'formRecipe.js' %}"></script>
{% endblock %}