{% extends 'base.html' %}

{% load static %}

{% block title %} Создание рецепта {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Создание рецепта</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_name" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    <input type="text" id="id_name" name="name" class="form__input">
                    {% if form.errors.name %}
                        <span class="form__error">{{ form.errors.name }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    {% include 'form_tags.html' %}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_time" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="id_time" name="cooking_time" class="form__input">
                    <label for="id_time" class="form__label">минут</label>
                    {% if form.errors.cooking_time %}
                        <span class="form__error">{{ form.errors.cooking_time }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <label for="id_description" class="form__label">Описание</label>
                <div class="form__field-group">
                    <textarea name="description" id="id_description" rows="8" class="form__textarea"></textarea>
                    {% if form.errors.description %}
                        <span class="form__error">{{ form.errors.description }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <label for="id_file" class="form__file-button">Выбрать файл</label>
                    <input type="file" class="form__file" name="photo" id="id_file" accept="image/*">
                    <span id="photoFilename" class="form__label" style="max-width: unset"></span>
                    {% if form.errors.photo %}
                        <span class="form__error">{{ form.errors.photo }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Создать рецепт</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/formRecipe.js' %}"></script>
{% endblock %}